
h1 {
    color: #000;
    font-size: 15mm;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: rgba(97, 23, 166, 0.798);
    font-size: 8mm;
    font-family: Arial, Helvetica, sans-serif;
}

p.text {
    font-size: 6.5mm;
}

* {
    text-shadow: #000;
    text-decoration-color: black;
}